@page
@{ Layout = "_Layout"; }

<div style="height: 10px"></div>

<el-alert>
  <p>
    xxx.xxx.xxx.xxx = 精确匹配
    <br />
    xxx.xxx.xxx.xxx-xxx.xxx.xxx.xxx = 范围
    <br />
    xxx.xxx.xxx.* = 任何匹配
  </p>
  
  <p>当前IP地址：{{ ipAddress }}</p>
</el-alert>

<el-divider></el-divider>

<el-form ref="form" :model="form" size="small" status-icon label-width="140px">
  <el-form-item label="IP访问规则" prop="range" :rules="[{ required: true, message: '请输入IP访问规则' }]">
    <el-input v-model="form.range" name="range" autocomplete="off"></el-input>
  </el-form-item>
</el-form>

<el-divider></el-divider>
<div style="height: 10px"></div>

<el-row>
  <el-col :span="24" align="center">
    <el-button type="primary" v-on:click="btnSubmitClick" size="small">确 定</el-button>
    <el-button size="small" v-on:click="btnCancelClick">关 闭</el-button>
  </el-col>
</el-row>

@section Scripts{
  <script src="/assets/restriction/js/rangeLayerAdd.js" type="text/javascript"></script>
}
