@page
@{ Layout = "_Layout"; }

<div style="height: 10px"></div>

<el-form ref="form" :model="form" size="small" label-width="180px">
  <el-form-item label="管理后台访问域名限制" prop="isHost" name="isHost" :rules="{ required: true }">
    <el-select v-model="form.isHost">
      <el-option :value="false" label="无访问限制"></el-option>
      <el-option :value="true" label="启用访问域名限制"></el-option>
    </el-select>
    <div class="tips">限制后台域名地址</div>
  </el-form-item>
  <el-form-item v-if="form.isHost" label="管理后台访问域名" prop="host" name="host" :rules="{ required: true }">
    <el-input v-model="form.host"></el-input>
    <div class="tips">如果非80端口，后台访问域名需要包含。</div>
  </el-form-item>
</el-form>

<div style="text-align: center;">
  <el-divider></el-divider>
  <div style="height: 10px"></div>
  
  <el-button size="small" type="primary" v-on:click="btnSubmitClick">
    保 存
  </el-button>
</div>

@section Scripts{
  <script src="/assets/restriction/js/settings.js" type="text/javascript"></script>
}